version: '3.8'

services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - laravel-net

  db:
    image: postgres:16
    container_name: laravel_db
    restart: always
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: scaSatheR9P9SK0OnvwOEBJxJ42uTg0W
    ports:
      - "5432:5432"
    networks:
      - laravel-net
    volumes:
      - pgdata:/var/lib/postgresql/data

networks:
  laravel-net:

volumes:
  pgdata:
